.section {
  padding: 0 180px;
}

.imageWrapper {
  position: relative;
  width: 275px;
  height: 293px;
  flex-shrink: 0;
}

.imageWrapper::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 15px;
  width: 100%;
  height: 100%;
  background: #d9d9d9;
  z-index: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 2;
}

.imageWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 44, 58, 0.64);
  z-index: 3;
}
