.section {
  padding: 80px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.title {
  font-family: var(--font-tinos-sans);
  font-weight: 400;
  font-size: 50px;
  line-height: 122%;
  text-transform: uppercase;
  color: #0e1927;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 35%;
  background-color: #0e1927;
  width: 500px;
  height: 2px;
}

.title::after {
  content: '';
  position: absolute;
  left: -25%;
  bottom: -180%;
  width: 420px;
  height: 2px;
  background-color: #0e1927;
  transform: rotate(90deg);
}

.bottomWord {
  margin-left: 130px;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 80px;
}

.imageWrapper {
  position: relative;
  max-width: 310px;
}

.imageWrapper::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 15px;
  width: 100%;
  height: 100%;
  background: #d9d9d9;
  z-index: 1;
}

.imageWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 44, 58, 0.64);
  z-index: 3;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 631px;
}

.faqList {
  width: 100%;
  gap: 10px;
}

.faqItem {
  padding: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #0e1927;
}

.question {
  background: none;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: #011e3b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.question:hover {
  color: #2f57ef;
}

.icon {
  transition: transform 0.3s ease;
}

.iconActive {
  transform: rotate(180deg);
}

.answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.answerOpen {
  max-height: 250px;
  opacity: 1;
  padding-bottom: 10px;
}

.moreBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 54px;
  background: none;
  border: none;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  color: #0e1927;
  cursor: pointer;
  transition: color 0.3s ease;
}

.moreBtn:hover {
  color: #2f57ef;
}

.moreIcon {
  margin-left: 8px;
}

.moreBtn:hover .moreIcon {
  transform: translateY(3px);
}

@media (max-width: 1023px) {
  .section {
    padding: 60px 80px;
  }

  .container {
    gap: 40px;
  }

  .title {
    flex-direction: row;
    justify-content: center;
    font-size: 36px;
  }

  .title::before,
  .title::after {
    display: none;
  }

  .bottomWord {
    margin-left: 10px;
  }

  .content {
    align-items: center;
    gap: 30px;
  }

  .imageWrapper {
    display: none;
  }

  .question {
    font-size: 18px;
  }

  .moreBtn {
    font-size: 22px;
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 50px 30px;
  }

  .title {
    font-size: 28px;
    text-align: center;
    align-items: center;
  }

  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .imageWrapper {
    margin-left: 0;
    max-width: 220px;
  }

  .faqList {
    width: 100%;
  }

  .question {
    font-size: 16px;
  }

  .moreBtn {
    font-size: 18px;
  }
}
