.section {
  position: relative;
  display: flex;
  padding: 97px 158px;
  gap: 133px;
  color: #293241;
}

.section::after {
  content: 'Немцева';
  position: absolute;
  font-family: var(--font-inter-sans);
  font-style: italic;
  font-weight: 900;
  font-size: 150px;
  line-height: 19%;
  text-transform: uppercase;
  color: #f5f5f5;
  right: -17px;
  bottom: 91px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 464px;
}

.content::after {
  content: '';
  position: absolute;
  right: -50%;
  border: 1px solid #293241;
  width: 301px;
  height: 0px;
  transform: rotate(90deg) translateX(75%);
}

.title {
  font-family: var(--font-tinos-sans);
  font-weight: 400;
  font-size: 50px;
  line-height: 136%;
  padding-bottom: 25px;
}

.price {
  font-family: var(--font-inter-sans);
  font-weight: 700;
  font-size: 50px;
  line-height: 86%;
  padding-bottom: 41px;
}

.text {
  font-family: var(--font-inter-sans);
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 142%;
  color: #293241;
}
