.advantages {
  position: relative;
  color: #fff;
  padding: 97px 0;
}

.advantages::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 158px;
  right: 0;
  background-color: #293241;
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  position: relative;
  font-family: var(--font-inter-sans);
  font-weight: 300;
  font-size: 65px;
  line-height: 88%;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}

.title::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(50% + 174px);
  transform: translateX(50%);
  border: 1px solid #fff;
  width: 222px;
  height: 0px;
}

.title::before {
  content: none;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;

  padding-left: 158px;
}

.list {
  position: relative;
  flex: 1;
  list-style-type: disc;
  padding: 0;
  max-width: 569px;
}

.list::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -50%;
  border: 2px solid #fff;
  width: 338px;
  height: 0px;
  transform: rotate(90deg);
}

.list::after {
  content: '';
  position: absolute;
  top: 120%;
  left: -20%;
  border: 2px solid #fff;
  width: 517px;
  height: 0px;
}

.list li {
  font-family: var(--font-inter-sans);
  font-weight: 300;
  font-size: 17px;
  line-height: 218%;
  position: relative;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 16px;
  max-width: 300px;
}

.image {
  width: 100%;
  max-width: 267px;
  height: auto;
}
