.advantages {
  color: #fff;
}

.darkBlock {
  margin-left: 158px;
  background-color: #293241;
  height: auto;
  padding: 97px 88px;
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container::before {
  content: '';
  position: absolute;
  top: 60%;
  right: 0;
  left: -16%;
  bottom: 0;
  border: 1px solid #ffffff;
  width: 338px;
  height: 1;
  transform: rotate(90deg);
}

.container::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  border: 1px solid #ffffff;
  width: 517px;
  height: 0;
}

.title {
  position: relative;
  font-family: var(--font-inter-sans);
  font-weight: 300;
  font-size: 65px;
  line-height: 88%;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}

.title::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(50% + 174px);
  transform: translateX(50%);
  border: 1px solid #fff;
  width: 222px;
  height: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 133px;
}

.list {
  position: relative;
  flex: 1;
  list-style-type: disc;
  padding: 0;
}

.list li {
  font-family: var(--font-inter-sans);
  font-weight: 300;
  font-size: 17px;
  line-height: 218%;
  position: relative;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 16px;
  max-width: 400px;
}

.image {
  width: 100%;
  max-width: 390px;
  height: auto;
}

@media (max-width: 1023px) {
  .advantages::before {
    left: 0;
  }

  .darkBlock {
    margin-left: 0;
  }

  .content {
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    gap: 40px;
  }
  .list {
    max-width: 100vw;
  }

  .container::before,
  .container::after,
  .title::after {
    display: none;
  }

  .imageWrapper {
    display: none;
  }

  .title {
    font-size: 48px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 36px;
    line-height: 100%;
  }

  .title::after {
    display: none;
  }

  .list li {
    font-size: 15px;
    line-height: 170%;
  }
}
