.section {
  display: flex;
  flex-direction: column;
  height: 564px;
  padding: 54px 232px;
}

.title {
  font-family: var(--font-inter-sans);
  font-weight: 500;
  font-size: 26px;
  line-height: 150%;
  text-transform: uppercase;
  color: #293241;
  margin-bottom: 17px;
}

.imageWrapper {
  position: relative;
  width: 275px;
  height: 293px;
  flex-shrink: 0;
}

.imageWrapper::after {
  content: '';
  position: absolute;
  top: -9px;
  left: -23px;
  width: 100%;
  height: 100%;
  background: #d9d9d9;
  z-index: 1;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 75px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 2;
}

.imageWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 44, 58, 0.64);
  z-index: 3;
}

.list {
  flex-grow: 1;
  list-style-type: disc;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  color: #111516;
}
