.section {
  display: flex;
  overflow: hidden;
  color: #ffffff;
}

/* ===== LEFT BLOCK ===== */
.quoteSection {
  flex: 1;
  background-color: #273347;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  position: relative;
  z-index: 2;
}

.quoteIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 49px;
  height: 49px;
  border-radius: 100%;
  margin-bottom: 24px;
}

.icon {
  width: 25px;
  height: 25px;
  fill: #293241;
}

.quoteText {
  max-width: 511px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 44px;
}

.clientInfo {
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  padding-bottom: 31px;
  border-bottom: 1px solid white;
  width: 150px;
  margin-bottom: 40px;
}

.contactButton {
  display: block;
  margin-bottom: 95px;
  padding: 6px 40px;
  background-color: white;
  font-weight: 400;
  font-size: 26px;
  z-index: 3;
  line-height: 197%;
  text-transform: uppercase;
  color: #293241;
  border: none;
  border-radius: 3px;
  width: 240px;
  height: 60px;
  transition: background-color 0.3s;
}

.contactButton:hover {
  background-color: #f0f0f0;
}

/* ===== RIGHT BLOCK ===== */
.imageSection {
  flex: 1;
  background-image: url('/images/Review.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  min-height: 500px;
}

.imageSection::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(30, 44, 58, 0.64);
  z-index: 2;
}

/* ===================================================== */
/* 📲 TABLET — 1023px і менше */
/* ===================================================== */
@media (max-width: 1023px) {
  .section {
    position: relative;
    flex-direction: column;
  }

  .imageSection {
    position: absolute;
    inset: 0;
    background-image: none;
    z-index: 2;
  }

  .imageSection::before {
    display: none;
  }
  .contactButton {
    margin-bottom: 60px;
  }

  .quoteSection {
    position: relative;
    z-index: 1;
    padding: 60px 80px;
  }
}

/* ===================================================== */
/* 📱 MOBILE — 480px і менше */
/* ===================================================== */
@media (max-width: 480px) {
  .quoteSection {
    padding: 40px 24px;
  }

  .quoteIcon {
    width: 40px;
    height: 40px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .quoteText {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 28px;
  }

  .clientInfo {
    font-size: 14px;
    width: 120px;
    margin-bottom: 30px;
  }

  .contactButton {
    width: 180px;
    height: 50px;
    font-size: 18px;
  }
}
