.hero {
  position: relative;
  background-image:
    linear-gradient(rgba(30, 44, 58, 0.64)), url('/images/hero.jpg');
  background-position: center -100px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 300px 200px 0;
  overflow: hidden;
}

.hero::after {
  content: '';
  position: absolute;
  inset: 275px 0 0 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.86) 0%,
    rgba(255, 255, 255, 0.93) 23.56%,
    #fff 100%
  );
  z-index: 2;
}

.content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: var(--font-tinos-sans), sans-serif;
  font-weight: 400;
  font-size: 73px;
  line-height: 115%;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #0e1927;
}

.span {
  position: relative;
  font-family: var(--font-tinos-sans), sans-serif;
  font-weight: 400;
  font-size: 73px;
  line-height: 115%;
  text-transform: uppercase;
  color: #0e1927;
}

.span::after {
  content: '';
  position: absolute;
  top: 41px;
  transform: translateX(20%);
  border: 1px solid #293241;
  width: 318px;
  height: 1px;
  background: #0e1927;
}

.subtitle {
  position: relative;
  font-weight: 300;
  font-size: 40px;
  color: #0e1927;
  margin-bottom: 92px;
}

.button {
  position: relative;
  align-self: flex-start;
  background: #293241;
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  line-height: 204%;
  text-transform: uppercase;
  padding: 6px 43px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 59px;
  transition: background 0.3s;
}

.button::before {
  content: '';
  position: absolute;
  top: 34px;
  transform: translateX(41%);
  border: 1px solid #293241;
  width: 701px;
  height: 0px;
  background: #0e1927;
}

.button::after {
  content: '';
  position: absolute;
  border: 1px solid #293241;
  top: -200%;
  right: -265%;
  width: 347px;
  height: 0px;
  background: #0e1927;
  transform: rotate(90deg);
}

.button:hover {
  background: #1e2c3a;
}

@media (max-width: 1023px) {
  .hero {
    padding: 200px 100px 0;
  }

  .hero::after {
    inset: 175px 0 0 0;
  }

  .title,
  .span {
    font-size: 54px;
  }

  .span::after {
    display: none;
  }

  .subtitle {
    font-size: 28px;
    margin-bottom: 60px;
  }

  .button {
    font-size: 22px;
    padding: 6px 32px;
  }

  .button::before {
    width: 400px;
  }

  .button::before,
  .button::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 160px 60px 0;
    justify-content: center;
    text-align: center;
  }

  .content {
    align-items: center;
  }

  .title,
  .span {
    font-size: 42px;
  }

  .subtitle {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .button {
    font-size: 20px;
    padding: 8px 28px;
    align-self: center;
  }
}
