.section {
  position: relative;
  padding: 82px 0 89px 0;
  color: #011e3b;
}

.section::before {
  content: '';
  position: absolute;
  bottom: 30%;
  left: 134px;
  width: 1px;
  height: 340px;
  background-color: #0e1927;
  z-index: -1;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.container::after {
  content: '';
  position: absolute;
  bottom: 89px;
  right: 40px;
  border: 1px solid #0e1927;
  width: 181px;
  height: 0px;
  transform: rotate(-90deg);
}

.container::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 9%;
  border: 1px solid #0e1927;
  width: 439px;
  height: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 55px;
}

.title {
  font-weight: 300;
  font-size: 36px;
  line-height: 139%;
  color: #011e3b;
  margin-right: 21px;
  z-index: 1;
}

.line {
  width: 360px;
  height: 1px;
  background-color: #0e1927;
}

.mainContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  padding: 0 200px;
}

.textBlock {
  flex-grow: 1;
  position: relative;
}

.imageWrapper {
  position: relative;
  width: 303px;
  height: 454px;
  flex-shrink: 0;
  margin-left: 0;
}

.imageWrapper::after {
  content: '';
  position: absolute;
  top: -9px;
  left: -23px;
  width: 100%;
  height: 100%;
  background: #d9d9d9;
  z-index: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 2;
}

.imageWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 44, 58, 0.64);
  z-index: 3;
}

.list {
  list-style-type: inside;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: #111516;
  padding-left: 0;
  margin-left: 20px;
}

.comment {
  font-weight: 500;
  font-size: 23px;
  line-height: 157%;
  text-transform: uppercase;
  color: #011e3b;
}

@media (max-width: 1023px) {
  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 40px;
  }

  .section::before,
  .line,
  .container::after,
  .container::before {
    display: none;
  }

  .header {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
  }

  .title {
    font-size: 30px;
    margin: 0;
    text-align: center;
  }

  .line {
    width: 180px;
  }

  .mainContent {
    align-items: center;
    padding: 0;
    gap: 40px;
  }

  .imageWrapper {
    width: 240px;
    height: 360px;
  }

  .list {
    font-size: 18px;
    line-height: 170%;
    margin-left: 0;
  }

  .comment {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 40px 0;
  }

  .container {
    padding: 0 20px;
  }

  .container::before {
    display: none;
  }

  .title {
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
  }

  .line {
    width: 120px;
  }

  .mainContent {
    gap: 28px;
  }

  .imageWrapper {
    display: none;
  }

  .list {
    font-size: 16px;
    line-height: 160%;
  }

  .comment {
    font-size: 16px;
    line-height: 150%;
  }
}
