.section {
  position: relative;
  padding: 82px 0 89px 0;
  color: #011e3b;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
}

.container::before {
  content: '';
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 134px;
  width: 1px;
  height: 340px;
  background-color: #0e1927;
  z-index: -1;
}

.container::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 161px;
  border: 1px solid #0e1927;
  width: 439px;
  height: 0px;
  z-index: -1;
}

.title {
  font-weight: 300;
  font-size: 36px;
  line-height: 139%;
  color: #011e3b;
  margin-left: 207px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 130px;
  width: 340px;
  height: 1px;
  border-top: 1px solid #0e1927;
}

.mainContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  padding: 0 200px;
}

.textBlock {
  flex-grow: 1;
  position: relative;
}

.textBlock::after {
  content: '';
  position: absolute;
  bottom: 72px;
  right: -150px;
  border: 1px solid #0e1927;
  width: 181px;
  height: 0px;
  transform: rotate(-90deg);
}

.imageWrapper {
  position: relative;
  width: 303px;
  height: 454px;
  flex-shrink: 0;
  margin-left: 0;
}

.imageWrapper::after {
  content: '';
  position: absolute;
  top: -9px;
  left: -23px;
  width: 100%;
  height: 100%;
  background: #d9d9d9;
  z-index: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 2;
}

.imageWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 44, 58, 0.64);
  z-index: 3;
}

.list {
  list-style-type: inside;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  color: #111516;
  padding-left: 0;
  margin-left: 20px;
}

.comment {
  font-weight: 500;
  font-size: 23px;
  line-height: 157%;
  text-transform: uppercase;
  color: #011e3b;
}
