.section {
  background-color: #293241;
  display: flex;
  flex-direction: column;
  padding: 29px 168px 29px 232px;
  height: 571px;
  color: #fff;
}

.header {
  position: relative;
  padding-bottom: 49px;
}

.header::after {
  content: '';
  position: absolute;
  right: 140px;
  top: 45px;
  border: 2px solid #fff;
  width: 307px;
  height: 0px;
}

.title {
  font-family: var(--font-inter-sans);
  font-weight: 400;
  font-size: 35px;
  line-height: 240%;
  text-transform: uppercase;
}

.content {
  display: flex;
  gap: 44px;
}

.list {
  list-style-type: block;
  font-weight: 300;
  font-size: 26px;
  line-height: 192%;
  color: #fff;
}

.image {
  width: 100%;
  max-width: 489px;
  height: auto;
}
